@use '../abstracts' as *;

$color: #000;
$opacity-adjust: -0.05;

///
.shadow-xs {
  @include shadow-map('xs', $color, $opacity-adjust);
}

.shadow-sm {
  @include shadow-map('sm', $color, $opacity-adjust);
}

.shadow,
.shadow-base {
  @include shadow-map('base', $color, $opacity-adjust);
}

.shadow-md {
  @include shadow-map('md', $color, $opacity-adjust);
}

.shadow-lg {
  @include shadow-map('lg', $color, $opacity-adjust);
}

.shadow-xl {
  @include shadow-map('xl');
}

.shadow-2xl {
  @include shadow-map('2xl');
}

//
.shadow-y1 {
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
}
