@forward 'layout';
@forward 'main-content';

// todo remove after release this debug styles

.debug {
  &.row-gap {
    > :not(:first-child) {
      margin-left: 10px;
    }
  }

  &.bar {
    background-color: #555;
    padding: 3px 5px;
    * {
      color: #fff;
    }
  }
}
