@use '../../abstracts/variables' as *;

$font-path: '#{$font-url}Roboto';

@font-face {
  font-family: 'Roboto';
  src: local(Roboto Thin),
  url('#{$font-path}/Roboto-Thin.woff2') format('woff2'),
  url('#{$font-path}/Roboto-Thin.woff') format('woff');

  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: local(Roboto Light),
  url('#{$font-path}/Roboto-Light.woff2') format('woff2'),
  url('#{$font-path}/Roboto-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: local(Roboto Regular),
  url('#{$font-path}/Roboto-Regular.woff2') format('woff2'),
  url('#{$font-path}/Roboto-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto';
  src: local(Roboto Medium),
  url('#{$font-path}/Roboto-Medium.woff2') format('woff2'),
  url('#{$font-path}/Roboto-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Roboto';
  src: local(Roboto Bold),
  url('#{$font-path}/Roboto-Bold.woff2') format('woff2'),
  url('#{$font-path}/Roboto-Bold.woff') format('woff');
  font-weight: 700;
}

// module export
$font-family: Roboto, Helvetica, sans-serif;
$font-family-rounded: $font-family
