$primary: '#5383ff';
$primaryLight: '#424B5A';
$primaryDark: '#000000';
$secondary: '#6B6BA5';
$inheritDefault1: '#fefefe';
$inheritDefault2: '#f8f9ff';

$second: '#070919';
$indigo: '#7420ff';
$purple: '#793de6';
$pink: '#fc26a4';
$red: '#F16465';
$orange: '#f4772e';
$yellow: '#ffc926';
$green: '#1bc943';
$teal: '#18e1a5';
$cyan: '#27dcf3';
$blue: '#006AFF';
$white: '#F2F5F7';