.bb-1 {
  border-bottom: 1px solid #E6E6E6;
}
.bt-1 {
  border-top: 1px solid #E6E6E6;
}
.br-1 {
  border-right: 1px solid #E6E6E6;
}
.bl-1 {
  border-left: 1px solid #E6E6E6;
}
.b-1 {
  border: 1px solid #E6E6E6;
}
// Border 2
.bb-2 {
  border-bottom: 2px solid #E6E6E6;
}

.bt-2 {
  border-top: 2px solid #E6E6E6;
}

.br-2 {
  border-right: 2px solid #E6E6E6;
}

.bl-2 {
  border-left: 2px solid #E6E6E6;
}

.b-2 {
  border: 2px solid #E6E6E6;
}

// Border 3
.bb-3 {
  border-bottom: 2px solid #E6E6E6;
}

.bt-3 {
  border-top: 2px solid #E6E6E6;
}

.br-3 {
  border-right: 2px solid #E6E6E6;
}

.bl-3 {
  border-left: 2px solid #E6E6E6;
}

.b-3 {
  border: 2px solid #E6E6E6;
}