// margin-6
.m-6 {
  margin: 4rem !important;
}
.mt-6 {
  margin-top: 4rem !important;
}
.ml-6 {
  margin-left: 4rem !important;
}
.mr-6 {
  margin-right: 4rem !important;
}
.mb-6 {
  margin-bottom: 4rem !important;
}
// margin-7
.m-7 {
  margin: 5rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.ml-7 {
  margin-left: 5rem !important;
}

.mr-7 {
  margin-right: 5rem !important;
}

.mb-7 {
  margin-bottom: 5rem !important;
}

// margin-8
.m-8 {
  margin: 6rem !important;
}

.mt-8 {
  margin-top: 6rem !important;
}

.ml-8 {
  margin-left: 6rem !important;
}

.mr-8 {
  margin-right: 6rem !important;
}

.mb-8 {
  margin-bottom: 6rem !important;
}

// margin-9
.m-9 {
  margin: 9rem !important;
}

.mt-9 {
  margin-top: 9rem !important;
}

.ml-9 {
  margin-left: 9rem !important;
}

.mr-9 {
  margin-right: 9rem !important;
}

.mb-9 {
  margin-bottom: 9rem !important;
}

// paddings
// padding-6
.p-6 {
  padding: 4rem !important;
}

.pt-6 {
  padding-top: 4rem !important;
}

.pl-6 {
  padding-left: 4rem !important;
}

.pr-6 {
  padding-right: 4rem !important;
}

.pb-6 {
  padding-bottom: 4rem !important;
}
.px-6 {
  padding-left: 4rem !important;
  padding-right: 4rem !important;
}

.py-6 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

// padding-7
.p-7 {
  padding: 5rem !important;
}

.pt-7 {
  padding-top: 5rem !important;
}

.pl-7 {
  padding-left: 5rem !important;
}

.pr-7 {
  padding-right: 5rem !important;
}

.pb-7 {
  padding-bottom: 5rem !important;
}
.px-7 {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.py-7 {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

// padding-8
.p-8 {
  padding: 6rem !important;
}

.pt-8 {
  padding-top: 6rem !important;
}

.pl-8 {
  padding-left: 6rem !important;
}

.pr-8 {
  padding-right: 6rem !important;
}

.pb-8 {
  padding-bottom: 6rem !important;
}
.px-8 {
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}

.py-8 {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important;
}


// padding-9
.p-9 {
  padding: 9rem !important;
}
.px-9 {
  padding-left: 9rem !important;
  padding-right: 9rem !important;
}
.py-9 {
  padding-top: 9rem !important;
  padding-bottom: 9rem !important;
}

.pt-9 {
  padding-top: 9rem !important;
}

.pl-9 {
  padding-left: 9rem !important;
}

.pr-9 {
  padding-right: 9rem !important;
}

.pb-9 {
  padding-bottom: 9rem !important;
}