.gv-detail-info-layer {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;

  &>.gv-info-item {
    display: flex;
    flex-direction: column;
  }

  & .label-left-align {
    margin-left: 0;
  }
  & .label-left-align-center {
    margin-left: 0;
    transform: translateX(-50%);
  }
  & .label-right-align {
    margin-left: 100%;
    transform: translateX(-100%);
  }
  & .label-right-align-center {
    margin-left: 100%;
    transform: translateX(-50%);
  }
  & .label-center-align {
    margin-left: 50%;
    transform: translateX(-50%);
  }

  .gv-position-label-container {
    display: flex; 
    flex-direction: row;;
  }
}