//  Variables

$page-bg:                         $gray-200;
$app-transition:                  cubic-bezier(0.685, 0.0473, 0.346, 1);;
$header-user-backcolor: #57B8FF;

$transaction_color_EF394F: #EF394F;
$transaction_color_8334D6: #8334D6;
$transaction_color_FDC93D: #FDC93D;
$transaction_color_5FDD35: #5FDD35;
$trans_drawer_button_color:  #AFAFAF;