.autocomplete-height-s {
  & .MuiAutocomplete-inputRoot {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
  }

  & .MuiInputLabel-outlined {
    transform: translate(14px, 14px) scale(1) !important;

    &.MuiInputLabel-shrink {
      transform: translate(14px, -6px) scale(0.75) !important;
    }
  }
}