.bg-black {
  background-color: $black !important;
}
.text-black {
  color: $black !important;
}

.bg-indigo {
  background-color: $indigo !important;
}
.text-indigo {
  color: $indigo !important;
}

.bg-white {
  background-color: $white !important;
}
.text-white {
  color: $white !important;
}

.bg-red {
  background-color: $red !important;
}
.text-red {
  color: $red !important;
}

.bg-darker {
  background-color: $darker !important;
}
.text-darker {
  color: $darker !important;
}

.bg-blue {
  background-color: $blue !important;
}
.text-blue {
  color: $blue !important;
}

.bg-gray-400 {
  background-color: $gray-400 !important;
}
.text-gray-400 {
  color: $gray-400 !important;
}

.bg-gray-800 {
  background-color: $gray-800 !important;
}

.text-gray-800 {
  color: $gray-800 !important;
}

.bg-dark {
  background-color: $dark !important;
}
.text-dark {
  color: $dark !important;
}

.bg-lightcyan {
  background-color: $lightcyan !important;
}
.text-lightcyan {
  color: $lightcyan !important;
}


.border-lightblue {
  border-color: $lightblue;
}

.cursor-pointer {
  cursor: pointer;
}

.bg-lightpink {
  background-color: $lightpink !important;
}
.text-lightpink {
  color: $lightpink !important;
}

.bg-lightgreen {
  background-color: $lightgreen !important;
}
.text-lightgreen {
  color: $lightgreen !important;
}

.bg-gray-1100 {
  background-color: $gray-1100 !important;
}
.text-gray-1100 {
  color: $gray-1100 !important;
}

.bg-gray-1000 {
  background-color: $gray-1000 !important;
}
.text-gray-1000 {
  color: $gray-1000 !important;
}

.bg-nationaltooltip {
  background-color: $nationaltooltip !important;
}
.text-nationaltooltip {
  color: $nationaltooltip !important;
}

.bg-darkgreen {
  background-color: $darkgreen !important;
}
.textdarkgreen {
  color: $darkgreen !important;
}

.text-mediumgreen {
  color: $mediumgreen !important;
}
.bg-mediumgreen {
  background-color: $mediumgreen !important;
}

.text-darkpurple {
  color: $darkpurple !important;
}
.bg-darkpurple {
  background-color: $darkpurple !important;
}

.text-lightpurple {
  color: $lightpurple !important;
}
.bg-lightpurple {
  background-color: $lightpurple !important;
}

.text-lightblue {
  color: $lightblue !important;
}
.bg-lightblue {
  background-color: $lightblue !important;
}

.bg-color-228fee {
  background-color: $color-228fee !important;
}

.bg-header {
  background-color: $header_bg_color !important;
}
