.width-normal { 
  min-width: $normal_size !important;
}

.width-xl {
  min-width: $xl_size !important;
}

.squre-xxs {
  width: $xxs_size !important;
  height: $xxs_size !important;
} 

.width-xxxxl {
  width: $xxxxl_size !important;
}

.width-m {
  width: $m_size !important;
}

.height-m {
  height: $m_size !important;
}

.square-m {
  width: $m_size !important;
  height: $m_size !important;
}

.width-l {
  width: $l_size !important;
}
.height-l {
  height: $l_size !important;
}
.square-l {
  width: $l_size !important;
  height: $l_size !important;
}

.width-xxl {
  width: $xxl_size !important;
}
.height-xxl {
  height: $xxl_size !important;
}
.square-xxl {
  width: $xxl_size !important;
  height: $xxl_size !important;
}

.width-xxxs {
  width: $xxxs_size !important;
}
.height-xxxs {
  height: $xxxs_size !important;
}
.square-xxxs {
  width: $xxxs_size !important;
  height: $xxxs_size !important;
}

.width-xxxl {
  width: $xxxl_size !important;
}
.height-xxxl { 
  height: $xxxl_size !important;
}
.square-xxxl {
  width: $xxxl_size !important;
  height: $xxxl_size !important;
}

.width-372 {
    width: 372px !important;
}