$emicon-filter: "\e900";
$emicon-menue: "\e901";
$emicon-home: "\e600";
$emicon-company: "\e60c";
$emicon-edit: "\e60d";
$emicon-lock: "\e66b";
$emicon-rest-password: "\e66c";
$emicon-delete: "\e681";
$emicon-hdd-up: "\e6ad";
$emicon-copy: "\e6b8";
$emicon-user: "\e71e";
$emicon-user-plus: "\e71f";
$emicon-user-lock: "\e721";
$emicon-payees: "\e723";
$emicon-search: "\e922";
$emicon-list3: "\e92e";
$emicon-overview: "\e930";
$emicon-payouts: "\e944";
$emicon-warning: "\e955";
$emicon-checkmark-circle: "\e959";
