.emoney-table-head {
  background-color: $emoneytable-head-color;
}

.emoney-grid-container {
  table {
    & > thead {
      background-color: $emoneytable-head-color;
      height: 52px;
    };
    & > thead > tr > th {
      font-weight: bold !important;
      font-size: 12px;
    }
    & > tbody > tr > td {
      font-size: 12px;
      color: $emoneytable-cell-color
    }
  }
}

.emoney-group-row-content {
  font-size: 12px;
  font-weight: bold;
}

tr[class*="TableSelectRow-selected-"]{
  & > td:nth-child(1) {
    border-left: 2px solid $emoneytable-select-cell-color;
  }
}
.emoney-group-row{
  min-height: 62px;
  height: 62px
}
.emoney-group-row-cell{
  padding-left: 52px !important;
  vertical-align: bottom !important;
}

.emoney-transaction-subheader-row{
  //TODO
}